<!--  наследуемся от шаблона default.html -->
{% extends 'default.html' %}

{% load censor_filter %}

<!-- Название у нас будет Пост -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>Заголовок поста:<br>{{ news.post_heading|censor }}</h1><br>
<h2>Текст поста:<br>{{ news.post_text|censor }}</h2><br>
<h3>Дата создания поста:<br>{{ news.post_time|date:'d M Y' }}</h3><br>
<h4>Автор поста:<br>{{ news.post_author }}</h4>
{% endblock content %}