{% extends 'default.html' %}

{% load censor_filter %}

{% block title %}
Посты
{% endblock title %}

{% block content %}
   <h1>Все сообщения</h1>
   <hr>
   {% if newslist %}
       <table>
           <tr>
               <td><h4>Заголовок поста</h4></td>
               <td><h4>Дата поста</h4></td>
               <td><h4>Текст поста</h4></td>
           </tr>

           {% for news in newslist %}
           <tr>
               <td>{{ news.post_heading|censor }}</td>
               <td>{{ news.post_time }}</td>
               <td>{{ news.post_text|censor|truncatechars:21 }}</td>
               <!-- Используем наш фильтр -->
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Сообщений нет!</h2>!
   {% endif %}
{% endblock content %}